li{
    list-style: none;
}
.box{
    width:200px;
    height:200px;
    position: relative;
    left:350px;
    bottom: 35px;
    transform-style:preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: movebox 5s linear infinite;
}
.minbox{
    width:100px;
    height:100px;
    position: absolute;
    left:50px;
    top:50px;
    transform-style:preserve-3d;
    transform:rotateY(45deg);
    animation: movemin 1s linear infinite reverse;
}
.minbox li{
    width:100px;
    height:100px;
    position: absolute;
    left:0;
    top:0;
}
.minbox li:nth-child(1){
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    transform:translateZ(50px);
}
.minbox li:nth-child(2){
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    transform:rotateX(180deg) translateZ(50px);
}
.minbox li:nth-child(3){
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    transform:rotateX(-90deg) translateZ(50px);
}
.minbox li:nth-child(4){
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    transform:rotateX(90deg) translateZ(50px);
}
.minbox li:nth-child(5){
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    transform:rotateY(-90deg) translateZ(50px);
}
.minbox li:nth-child(6){
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    transform:rotateY(90deg) translateZ(50px);
}
.maxbox{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform:rotateX(45deg);
    animation: movemax 5s linear infinite;
}
.maxbox li{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    border: 1px solid white;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    transition:all 1s ease;
}
.maxbox li:nth-child(1){
    transform:translateZ(100px);
}
.maxbox li:nth-child(2){
    transform:rotateX(180deg) translateZ(100px);
}
.maxbox li:nth-child(3){
    transform:rotateX(-90deg) translateZ(100px);
}
.maxbox li:nth-child(4){
    transform:rotateX(90deg) translateZ(100px);
}
.maxbox li:nth-child(5){
    transform:rotateY(-90deg) translateZ(100px);
}
.maxbox li:nth-child(6){
    transform:rotateY(90deg) translateZ(100px);
}
.box:hover ol li:nth-child(1){
    transform:translateZ(240px);
}
.box:hover ol li:nth-child(2){
    transform:rotateX(180deg) translateZ(240px);
}
.box:hover ol li:nth-child(3){
    transform:rotateX(-90deg) translateZ(240px);
}
.box:hover ol li:nth-child(4){
    transform:rotateX(90deg) translateZ(240px);
}
.box:hover ol li:nth-child(5){
    transform:rotateY(-90deg) translateZ(240px);
}
.box:hover ol li:nth-child(6){
    transform:rotateY(90deg) translateZ(240px);
}
@keyframes movemax{
    0%{
        -webkit-transform: rotateX(45deg) rotateY(0deg);
    }
    100%{
        -webkit-transform:rotateX(45deg) rotateY(360deg);
    }
}
@keyframes movemin{
    0%{
        -webkit-transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        -webkit-transform:rotateX(360deg) rotateY(360deg);
    }
}
@keyframes movebox{
    0%{
        -webkit-transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        -webkit-transform: rotateX(360deg) rotateY(360deg);
    }
}
