.phone {
    margin:100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: absolute;
}
.loding {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 3px solid red;
    position: relative;
    animation: one 2s linear infinite;
}
.loding::after,.loding::before {
    position: absolute;
    content: " ";
    width: 100px;
    height: 100px;
    left: 0;
    top: -3px;
}
.loding::after {
    border-radius: 50%;
    border-top: 3px solid rgb(18, 139, 196);
    transform: rotate(120deg);
}
.loding::before {
    border-radius: 50%;
    border-top: 3px solid rgb(209, 190, 16);
    transform: rotate(240deg);
}
span {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    animation: two 2s infinite linear;
}
@keyframes one {
    to {
        transform: rotate(360deg);
    }
}
@keyframes two {
    to {
        transform: rotate(-360deg);
    }
}