body{
    background-color: rgb(94, 88, 88);
    margin: 0;
}

.box{
    background-color:white;
    width: 892px;
    height: 1386px;
    margin: auto;
    padding:0 40px;
    
}

header{
    width: 892px;
    height:50px;
    margin-bottom: 10px;
    position: relative;
}

#ltop{
    background-color: #d45d5c;
    width: 110px;
    height: 61px;
    margin:0;
    float: left;
    position: absolute;
}

#ltop p{
    margin: 0;
    padding-top: 46px;
    font-size: 12px;
    color:  #ffffff;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rtop{
    height: 61px;
    margin:0;
    float:right;
    text-align: right;
    position: absolute;
}

#rtop p{
    margin: 0;
    top: 46px;
    left: 850px;
    font-size:12px;
    color:#d45d5c ;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#topline{
    color: #938e89;
    width: 892px;
    border-bottom-style: solid;
    border-width: 1px;
    margin: 0;
    top: 61px;
    position: absolute;
}

.text{
    height: 1200px;
    width: 980px;
}

.part1{
    margin-bottom: 20px;
    width: 892px;
    height: 301px;
    position: relative;
}
.pic1{
    width: 641px;
    height: 301px;
    display: block;
    float:left;
    position: relative;
}

.pic1 img{
    width: 630px;
    height: 310px;
    display: block;
    position: absolute;
}

.rmengban1{
    position: absolute;
    width: 191px;
    height: 310px;
    background-color: rgba(223, 153, 106, 0.7);
    top: 0;
}
.lmengban1{
    position: absolute;
    width: 191px;
    height: 310px;
    top: 0;
    background-color: rgba(163, 63, 141, 0.7);
    left: 440px;

}


.about{
    width: 203px;
    height: 301px;
    float: right;
    display: block;
    position:relative;

}

#rline{
    color: #cc8091;
    border-style: solid;
    border-width: 1px;
}

.daming{
    color: #000;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    text-decoration: underline;
    line-height: 30px;
    margin-bottom: 8px;
    position: absolute;
}

.family{
    color: #000;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    line-height:14px;
    top: 90px;
    position: absolute;

}

.age{
    color: #75b86b;
    font-size: 116px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 100px;
    position: absolute;
}

.basis{
    width: 203px;
    height: 36px;
    top: 240px;
    position: absolute;
}

.num{
    color: #cc8091;
    font-size: 55px;
    font-family:'Segoe UI';
    margin-left: 10px;
    width: 70px;
    position: absolute;
}

.qita1{
    color: #cc8091;
    font-size: 21px;
    font-family:'Segoe UI';
    margin-left: 90px;
    top: 25px;
    height: 14px;
    position: absolute;
}

.qita2{
    color: #cc8091;
    font-size: 12px;
    font-family:'Segoe UI';
    margin-left: 90px;
    height: 10px;
    top: 45px;
    position: absolute;
}


.part2{
    width: 700px;
    height: 200px;
    margin-bottom: 30px;
    position: relative;
}

#what{
    width: 200px;
    height:200px;
    display: inline-block;
    position: absolute;

}

#what p{
    color: #418c59;
    font-size: 16px;
    font-family:'Segoe UI';
    text-decoration: underline;
    font-weight: 700;
}

#when{
    width: 200px;
    height: 200px;
    display: inline-block;
    left: 200px;
    position: absolute;
}
#when p{
    color: #d2994f;
    font-size: 16px;
    font-family:'Segoe UI';
    text-decoration: underline;
    font-weight: 700;
}
#how{
    width: 200px;
    height: 200px;
    display: inline-block;
    left: 400px;
    position: absolute;
}
#how p{
    color: #cc7680;
    font-size: 16px;
    font-family:'Segoe UI';
    text-decoration: underline;
    font-weight: 700;
}

.text1{
    
    font-size: 12px;
    color: #767777;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 16px;
}

.text2 {
list-style: none;
font-size: 12px;
width: 62px;
color: #231815;
display: inline-block;
padding-left: 0;

}

.text3 {
    list-style: none;
    font-size: 12px;
    width: 65px;
    height: 500px;
    color: #cd4a48;
    display: inline-block;
    padding-left: 0px;
    }



    .part3{
        width: 892px;
        height: 650px;
        position: relative;
    }
    .leftdown{
        width: 450px;
        height: 700px;
        float: left;
        position: absolute;
    }


    #title{
        width: 500px;
        height: 170px;
        
    position: relative;
    }
    .bigtitle1{
        font-size: 72px;
        color: #f5e372;
        font-weight: 700;
        width: 160px;
        position: absolute;
        height: 75px;
    }

    .tittop{
        font-size: 42px;
        color: #11456b;
        font-weight: 700;
        width: 400px;
        height: 50px;
        top: 25px;
        left: 160px;
        position: absolute;
    }
    .tittop2{
        font-size: 42px;
        color: #11456b;
        font-weight: 700;
        width: 400px;
        top: 65px;
        left: 10px;
        position: absolute;
    }

    .titbot{
        font-size: 33px;
        color: #11456b;
        font-weight: 700;
        width: 400px;
        top: 120px;
        left: 10px;
        position: absolute;
    }


    #lline{
        width: 420px;
        border-width: 1px;
        color: #11456b;
        border-style: solid;
        top: 160px;
        position: absolute;
    }

#down{
    position: relative;
    width: 450px;
    height: 500px;
}
   
    .gushi1 span{
        font-size: 72px;
        color: #f5e372;
        font-weight: 700;
        width: 160px;
        height: 75px;
        top: 5px;
        position: absolute;
    
    }
    .gushi1 p{
        width: 340px;
        height: 75px;
        position: absolute;
        left: 80px;
    }

.gushi2 p{
    width: 220px;
    height: 400px;
    position: absolute;
    top: 85px; 

}

.gushi2 img{
    height: 300px;
    position: absolute;
    right: 40px;
    top: 120px;
}
    .rightdown{
        float: right;
        width: 450px;
        height: 600px;
        position: relative;
    }
    #pic3{
        width: 425px;
        float:right;
        height: 300px;
        left: 20px;
        position: absolute;
}
    #pic3 img{
        width: 425px;
        height: 270px;
        float: none;
        position: absolute;
    }

    .bottommb{
        position: absolute;
        background-color: rgba(86, 90, 89, 0.7);
        top: 220px;
        width: 425px;
        height: 50px;
    }

    .bottommb span{
        font-size: 32px;
        position: absolute;
        left: 10px;
        top: 5px;
        color: #fff;
    }
    .bottommb div{
        font-size: 18px;
        height: 30px;
        position: absolute;
        left: 80px;
        top: 10px;
        padding-top: 10px ;
        padding-left: 5px;
        color: #fff;
        border-left:2px solid #75b86b;
    }


    #rightbottom{
        width: 430px;
        height: 325px;
        background-color: #eeedd6;
        top: 300px;
        left: 0px;
        position: absolute;
    }

    #rightbottom ul{
        list-style:georgian;
        line-height: 40px;
    }

    .redarea{
        background-color:#d45d5c ;
        width: 200px;
        height: 170px;
        float: left;
        position: relative;
    }


    .lredarea{
        font-size: 110px;
        color: #ffffff;
        line-height: 160px;
        position: absolute;
    display: inline-block;

    }

    .rredarea{
        width: 180px;
        height: 100px;
        top: 35px;
        left: 60px;
        border-left: 2px solid #fff;
        position: absolute;
        display: inline-block;

    }

    .rrtop{
        color: #ffffff;
        font-size: 18px;
        left:10px;
        position: absolute;
    }  
     .rrdown{
        color: #ffffff;
        font-size: 12px;
        left:10px;
        top: 60px;
        position: absolute;
    }

    .last{
        width: 200px;
        height: 160px;
        display: inline-block;
        position: relative;
        left: 5px;
    }
    .lyinhao{
        font-size: 72px;
        color: #d45d5c;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 3px;
        left: -5px;
    }

    .ryinhao{
        font-size: 72px;
        color: #d45d5c;
        width: 30px;
        height: 30px;
        top: 75px;
        left: 165px;
        position: absolute;
    }
    .yulu{
        position: absolute;
        top: 40px;
        font-size: 16px;
        width: 200px;
        height: 50px;
        left: 30px;
    }

    .foot{
        position: relative;
        width: 892px;
        height: 120px;
    }
    #bottomline{
        color: #938e8c;
        border-width: 2px;
        border-bottom-style:double ;
        width: 892px;
        position: absolute;
        top:25px;
    }

    #bottomurl{
        font-size: 12px;
        color:  #d45d5c;
        position:absolute;
        right: 10px;
        top: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }