body{
    text-align: center;
    margin: 0;
    padding: 0;
}
.home{
    position: relative;
    padding: 0;
    width: 1264px;
    height: 5300px;
    margin: 0 auto;
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 1264px;
    height: 300px;
}
.unknown{
    position: absolute;
    top: 0;
    left: 0;
    width: 1264px;
    height: 155px;
}
.img2{
    position: absolute;
    top: 60px;
    left: 80px;
    z-index: 1;
}
.top{
    position: absolute;
    top: 6px;
    left: 0;
    width: 1264px;
    height: 56px;
    z-index: 1000;
    margin: 0 auto;
}
.navleft{
    width: 500px;
    height: 36px;
    position: absolute;
    top: 10px;
    left: 5px;
}
.wxlb{
    width: 500px;
    height: 30px;
    position: absolute;
    top: -8px;
    left: -25px;
    list-style: none;
    box-sizing: border-box;
    padding: 10px 24px;
    margin: 0 auto;
}
.nav-link-item{
    line-height: 15px;
    margin-right: 12px;
    display: inline-block;
}
.nav-link-item a,span{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.nav-link-item a:hover{
    color: orange;
    font-size: 15px;
}
.navsearchbox{
    margin: 0 10px;
    width: 254x;
    height: 36px;
    position: absolute;
    top: 2px;
    left: 455px;
}
.navsearch{
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 36px;
}
.ssk{
    width: 198px;
    height: 26px;
    color:  gray;
    outline: none;
    border: 1px dashed white;
    margin-left: 5px;
}
.ss{
    width: 59px;
    height: 30px;
    position: absolute;
    top: 4px;
    left: 204px;
    font-size: 14px;
    background-color: rgb(243, 236, 236);
    border: 1px dashed rgb(243, 236, 236);
    outline: none;
}
.ss:hover{
    color: orange;
    font-size: 15px;
}
.navright{
    width: 500px;
    height: 36px;
    display: inline-block;
    z-index: 1000;
    position: absolute;
    top: 10px;
    right: 10px;
}
.login{
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: white;
    position: absolute;
    top: -5px;
    left: 30px;            
}
.login>a{
    line-height: 36px;
    color: #73c9e5;
    font-size: 13px;
    text-decoration: none;     
}
.login>a:hover{
    color: orange;
    font-size: 14px;
}
.linkright{
    height: 36px;
    width: 300px;
    z-index: 1000;
    position: absolute;
    top: -7px;
    right: 136px;
}
.wxlb2{
    width: 354px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    list-style: none;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: 0 auto;
}
.nav-link-item2{
    line-height: 15px;
    margin-right: 8px;
    display: inline-block;   
}
.nav-link-item2 a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.nav-link-item2 a:hover{
    color: orange;
    font-size: 15px;
}
.contribution{
    display: block;
    width: 94px;
    height: 33px;
    border-radius: 5px;
    background-color: rgb(233, 110, 131);
    position: absolute;
    top: -4px;
    left: 403px;
}
.contribution>a{
    font-size: 13px;
    text-decoration: none;
    color: white;
    line-height: 33px
}
.contribution>a:hover{
    color: #73c9e5;
    font-size: 15px;
}
.binary{
    width: 1085px;
    height: 100px;
    position: absolute;
    background-color: #fff;
    top: 168px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.b1{
    position: absolute;
    top: 0px;
    left: 20px;
}
.b1 span{
    color: black;
    font-size: 14px;
}
.b1 span:hover{
    color: orange;
}
.b1 .img{
   display: inline-block;
    width: 36px;
    height: 60px;
    margin-right: 10px;
}
.b2{
    position: absolute;
    top: 6px;
    left: 235px;
}
.b2 .p1{
    margin-bottom: 10px;
}
.b2 .p2{
    margin-right: 20px;
}
.b2 .text{
    display: inline-block;
    width: 70px;
    height: 18px;
    font-size: 14px;
}
.b2 .text:hover{
    color: orange;
}
.b2 .fyt{
    width: 90px;
}
.b2 .text .num{
    display: inline-block;
}
.b2 .num{
    font-style: normal;
    font-size: 12px;
    display: inline-block;
    background: #73c9e5;
    border-radius: 2px;
    color: #fff;
    margin-left: 1px;
    transform: scale(.85);
    width: 32px;
    text-align: center;
}
.b3{
    position: absolute;
    top: 4px;
    left: 875px;
}
.b3 .img{
    display: inline-block;
    width: 60x;
    height: 20px;
    font-size: 14px;
}
.b3 .img:hover{
    color: orange;
}
.b3 .p3{
    margin-bottom: 14px;
}
.mid{
    position: absolute;
    top: 257px;
    left: 93px;
    width: 1033px;
    height: 600px;
    z-index: 1001;
}
.mid .m1{
    height: 202px;
}
.id .mleft1{
    position: relative;
    width: 459px;
    height: 202px;
    margin-left:20px;
}
.mid .mleft1 .img{
    position: absolute;
    width: 459px;
    height: 202px;
}
.mid .mleft1 .img img{
    position: absolute;
    left: 0px;
    height: 202px;
	width: 459px;
}
.rudis{
	background-color:#73c9e5;
}
.swiper{
	position: absolute;
	bottom: 10px;
    right: 20px;
    cursor: pointer;
}
.swiper b{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid white;
	border-radius: 50%;
	margin-left: 5px;
}
.mid .mright1{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 202px;
    width: 550px;
}
.mid .mright1 a{
    display: inline-block;
    width: 170px;
    height:90px;
    margin-right: 5px;
}
.mid .mright1 .bottom{
    margin-top: 22px;
}
.mid .m2{
    height: 224px;
    width: 999px;
    top: 30px;
    left: 19px;
    position: relative;
}
.mid .m2 .img5{
    position: absolute;
    left: 0;
    top: 0;
}
.mid .m2 .gklb{
    width: 263px;
    height: 30px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    background: #f4f4f4;
    line-height: 30px;
    color: #212121;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 5px;
}
.mid .m2 .gklb:hover{
    color: orange;
    font-size: 14px;
}
.mid .m2 .mright2{
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 265px;
    height: 172px;
}
.m2 .mleft2{
    width: 710px;
    height: 172px;
    position: absolute;
    left: 0;
    bottom: 0px;
    text-align: left;
}
.m2 .mleft2 a{
    display:inline-block;
    margin-right: 3px;
}
.last{
    position: absolute;
    top: 800px;
    left: 93px;
    width: 1033px;
    height: 4500px;
    z-index: 1001;
}
.last .down{
    background-color: orange;
    width: 999px;
    height: 224px;
    margin-bottom: 80px;
    margin-left: 18px;
    position: relative;
}
.last .down a{
    color: #212121;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: -22px;
}
.list-box{
    position: fixed;
    top: 150px;
    margin-left: 520px;
    left: calc(50% + 10px);
    width: 56px;
    height: 364px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
}
.list-box .name{
    width: 56px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
.list-box .name a{
    font-size: 12px;
    color: #212121;
}
.list-box .name:hover{
    background-color: orange;
}

