body{
    margin-top: 10px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
  
}
section{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
#part1{
    position: relative;
}
#main{
    margin-left: 30px;
    margin-right: 30px;
    height: auto;

}
#main #main-title .main-title-left{
    width: 180px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    position: relative;
   
}
#main #main-title .main-title-left-span{
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    bottom: 0;
}
#main #main-title .main-title-right{
    float: right;
    position: relative;
    bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ff5500;
    right: 60px;
}
#main #part1 .part1-img-box{
    margin: auto;
    /* float: left; */
    display: inline-block;
    width: 641px;
    position: relative;
    text-align: left
}
#main #part1 .box1{
    width: 191px;
    height: 301px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
 
    opacity: 0.5;
}
#main #part1 .box2{
    width: 191px;
    height: 301px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    opacity: 0.5;
}
#main #part1 .part1-img-box img{
    z-index: 0;
    width: 641px;
    height: 301px;

}
#main #part1 .part1-text-box hr{
    width: 100%;
}
#main #part1 .part1-text-box{
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    right: 20px;
    top: 0;
    width: 200px;
    height: auto;
    display: inline-block;
    /* float: right; */
}
#main #part1 .part1-text-box .title1{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px
}
#main #part1 .part1-text-box .title1 span{
    color: #ff5500;
    font-weight: bold;
    font-size: 25px;
}
#main #part1 .part1-text-box .title2{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px
}
#main #part1 .part1-text-box .title2 span{
    color: #ff5500;
    font-weight: bold;
    font-size: 25px;
}
#main #part1 .part1-text-box .intro{
    font-family: "楷体";
    font-size: 16px;
    margin-top: 20px;
}
#main #part1 .part1-text-box .intro span{
    color: #ff5500;
    font-size: 25px;
}
#main #part1 .part1-text-box .end{
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    color: #ff5500;
}
#main #part1 .part1-text-box .end hr{
    outline: none;
    border: none;
    background-color: #ff5500;
    height: 10px;
}
#main #part2{
    position: relative;
}
#main #part2 .part2-img-container{
    position: absolute;
    margin-top: 50px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
#main #part2 .part2-img-container img{
    width: 400px;
}
#main #part2 .text-box1{
    display: inline-block;
    width: 150px;
    margin-right: 20px;
}
#main #part2 .text-box1 .box-title span{
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff5500;
}
#main #part2 .text-box1 .box-text{
    line-height: 16px;
    font-family: "宋体";
}
#main #part2 .text-box1 .box-title hr{
    width: inherit;
    height: 2px;
    background-color: #ff5500;
}
#main #part2 .text-box2{
    position: relative;
    bottom: 112px;
    display: inline-block;
    width: 150px;
    margin-right: 20px;
}
#main #part2 .text-box2 .box-title span{
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff5500;
}
#main #part2 .text-box2 .box-text{
    line-height: 16px;
    font-family: "宋体";
}
#main #part2 .text-box2 .box-title hr{
    content: '';
    width: inherit;
    height: 2px;
    background-color:#ff5500;
}
#main #part2 .text-box3{
    position: relative;
    bottom: 176px;
    display: inline-block;
    width: 150px;
}
#main #part2 .text-box3 .box-title span{
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0000;
}
#main #part2 .text-box3 .box-text{
    line-height: 16px;
    font-family: "宋体";
}
#main #part2 .text-box3 .box-title hr{
    content: '';
    width: inherit;
    height: 2px;
    background-color:#ff5500;
}
#main #part2 .part2-img-box{
    position: absolute;
    border-radius: 10px;
    display: inline-block;
    margin-left: 10px;
    width: 400px;    
    height: 250px;
    top: 20px;
    right: 0;
}
#main #part2 .part2-img-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#main #part4 .part3-text-left{
    width: 500px;
    float: left;
}
#main #part4 .part3-text-left .left-title{
    display: inline-block;
    position: relative;
    width: 500px;
    font-size: 35px;
    font-weight: bold;
    margin-right: 0;
    color: #ff5500;
    font-family: "黑体";
}
#main #part4 .part3-text-left .left-title hr{
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: #ff5500;
}
#main #part4 .part3-text-left .left-title span{
    font-size: 72px;
    color: #ff5500;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}
#main #part4 .img-container{
    position: relative;
    display: inline-block;
    margin-left: 20px;
}
#main #part4 .img-container img{
    width: 400px;
    height: 275px;
    
}
#main #part4 .img-container2{
}

#main #part4 .img-container2 img{
    border-radius: 10px;
}
#main #part4 .part4-left{
    display: inline-block;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 480px;
}
#main #part4 .part4-left::first-letter{  /*选择段落的第一个字符*/
    float: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff5500;
    font-size: 70px;
}
#main #part4 .part4-right{
    margin-left: 25px;
    position: absolute;
    width: 400px;
    display: inline-block;
}
#main #part4 .part4-right .part4-right-top{
    width: 400px;
}
#main #part4 .right-text{
    width: 400px;
    text-align: right;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
}
#main #part4 .right-text span{
    color: #fff;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1!important;
}
#main #part4 .part4-right .part4-right-bottom{
    z-index: 0;
    height: 330px;
    width: 400px;
    margin-top: 60px;
    margin-left: 17px;
    position: relative;
    background-color: #ff5500;
}
#main #part4 .part4-right .part4-right-bottom .bottom-text{
    margin-top: 30px;
}
#main #part4 .part4-right .part4-right-bottom .div-text{
    padding-top: 15px;
    margin: 0px 20px;
    font-size: 20px;
    color: #fff;
}
#main #part4 .part4-right .part4-right-bottom .div-text span{
    float: right;
}
#main #part4 .part4-right .part4-right-bottom .bottom-div{
    z-index: 1;
    width: 260px;
    height: 160px;
    text-align: left;
    background-color: #ff5500;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#main #part4 .part4-right .part4-right-bottom .bottom-div .bottom-div-left{
    letter-spacing: -25px;
    display: inline-block;
}
#main #part4 .part4-right .part4-right-bottom .bottom-div .bottom-div-left span{
    font-size: 110px;
    color: #fff;
}
#main #part4 .part4-right .part4-right-bottom .bottom-div .bottom-div-right{
    margin-left: 20px;
    display: inline-block;
}
#main #part4 .part4-right .part4-right-bottom .bottom-div .bottom-div-right .text1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-size: 21px;
}
#main #part4 .part4-right .part4-right-bottom .bottom-div .bottom-div-right .text2{
    margin-top: 10px;
    font-size: 16px;
    line-height: 6px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#main #part4 .part4-right .part4-right-bottom .bottom-right-text{
    margin: 0;
    padding: 0;
    width: 120px;
    position: absolute;
    right: 0;
    bottom: -3px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#main #part4 .part4-right .part4-right-bottom .bottom-right-text span{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    top: 10px;
    text-align: right;
    line-height: 16px;
}
#main #part4 .part4-right .part4-right-bottom .bottom-right-text div{
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 10px;
    color: #ff5500;
}
#main #footer .footer-text{
    color: #bbb;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}
