body { 
    background-color: lightblue;
    height:1386px;
    width:980px;
    padding-left:25px;
    padding-right:25px;
    }
#num1{
    border-bottom: 1px solid black;
    position:relative;
    top:-10px;
    }
#outer {
   position:relative;
   width:459px;
   height:318px;
   background-color:rgb(74, 118, 160);
   }
#inner {
   width:250px;
   height:143px;
   background-color:rgb(102, 102, 209);
   position:absolute;
   top:175px;
  }
  #lf1{
    color:rgb(211, 106, 36);
}
#dx1{
    position:absolute;
    font-size:72px;
    left:-50px;
    color:rgb(3, 32, 61);
    font-family:黑体;
}
#dx2{
    position:absolute;
    font-size:72px;
    top:60px;
    color:rgb(6, 42, 77);
    font-family:黑体;
}
.bj1{
    font-size:12px;
    width:110px;
    height:61px;
    background-color:cadetblue;
    position:relative;
    }
.bj2{
    position:absolute;
    top:49px;
    }
.bj3{
    position:relative;
    top:-12px;
    font-size:12px;
    }
p.part1{
    border-top-style:double;
    text-decoration: underline;
    font-size:24px;color:rgb(214, 104, 122);
    font-family:微软雅黑;
    position:relative;
    top:-5px;
    }
p.part1::first-letter{
    font-size: xx-large;
    }
p.part2{
    text-decoration: underline;
    font-size:24px;
    position:relative;
    top:-20px;
    font-family:微软雅黑;
    }
p.part2::first-letter{
    font-size: xx-large;
    }
p.part3{
    font-style:italic;
    font-size:116px;
    position:relative;
    text-decoration: underline;
    top:-170px;
    color:rgb(226, 206, 28);
    font-family:微软雅黑;
    }
p.part4{
    text-transform:uppercase;
    position:relative;
    font-size:42px;
    top:20px;
    left:15px;
    font-family:黑体;
    }
p.part5{
    font-size:12px;
    position:relative;
    top:-40px;
    font-size:12px;
    color:green;
    font-family:楷体;
    }
p.part6{
    position:relative;
    top:-270px;
    font-family:微软雅黑;
    }
p.part7{
    font-size:33px;
    font-weight:bold;
    font-family:黑体;
    }
.part8{
    position:absolute;
    left:275px;
    top:175px;
    width:170px;
    font-size:14px;
    font-style:italic;
    font-family:黑体;
}
.part9{
    position:relative;
    top:50px;
}
.part10{
    position:absolute;
    left:10px;
    top:-20px;
    width:100px;
    font-family:黑体;
}
.part11{
    position:absolute;
    top:10px;
    font-size:100px;
    border-right: 1px solid;
    font-family:微软雅黑;
}
.part12{
    font-style:italic;
    text-transform:uppercase;
    font-family:黑体;
}
.part13{
    font-style:italic;
    text-transform:uppercase;
    font-family:黑体;
}
.part14{
    position:relative;
    border-left: 5px 2px solid ;
} 
.part15{
    font-size:26px;
    position:absolute;
    left:50px;
    top:-1px;
    border-left:solid black;
    color:mintcream;
    font-family:微软雅黑;
}
.part16{
    font-size:12px;
    font-style:italic;
    position:absolute;
    left:180px;
    color:rgb(177, 79, 22);
    font-family:微软雅黑;
} 
.part18{
    position:absolute;
    top:-60px;
    font-size:12px;
    left:900px;
}  
.in1{
    position:relative;
    bottom:-5px;
    color:rgb(211, 106, 36)；
    }
span{
    float:left;
    font-size:60px;
    position:relative;
    top:-20px;
    }
h2{
    text-decoration: underline;
    font-size:20px;
    font-weight:bold;
    font-family:微软雅黑;
    }
div.background1{
    background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fshouyou.3dmgame.com%2Fuploadimg%2Fupload%2Fimage%2F20191012%2F20191012151807_66474.jpg&refer=http%3A%2F%2Fshouyou.3dmgame.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1620652883&t=1825c891452adb2113e9365380479ab6);
    position:relative;
    background-size:641px 301px;
    height:301px;
    width:641px;
}
div.background2{
    background-image: url(http://pics0.baidu.com/feed/32fa828ba61ea8d3195819441185c048241f588a.jpeg?token=16e52a878bce004403e65d40c722266f);
    position:relative;
    background-size:458px 275px;
    height:275px;
    width:458px;
    top:-30px;
    
}
div.transbox {
    position:relative;
    top:213px;
    height:61px;
    background-color: #4880b4;
    border: 1px solid black;
    opacity: 0.6;
   }
div.transbox1 {
    position:relative;
    top:213px;
    height:300px;
    width:191px;
    top:0px;
    background-color: #58a7d4;
    border: 1px solid black;
    opacity: 0.6;
   }
div.transbox2 {
    position:relative;
    top:213px;
    height:299px;
    width:191px;
    top:-301px;
    left:450px;
    background-color: #e97d86;
    border: 1px solid black;
    opacity: 0.6;
   }
div.transbox p {
   
    font-weight: bold;
    color: #000000;
}
.container1{
    height:800px;
    position:relative;
}
.container2{
    height:40px;
    position:relative;
    top:-150px;
}
.container3{
   position:relative;
   width:200px;
   height:150px;
   left:25px;
   top:12.5px;
   }
.left1{
    width:70%;
    height:20px;
    float:left;
}
.right1{
    width:30%;
    height:301px;
    top:-10px;
    position:relative;
    float:right;
}
.left2{
    width:48%;
    height:20px;
    padding:20px;
    float:left;
}
.right2{
    width:45%;
    padding:20px;
    left:150px;
    height:20px;
    float:right;
}
.left3{
    position:relative;
    width:25%;
    left:10px;
    float:left;
    height:80px;
    top:-105px;
    color:rgba(255, 255, 255, 0.452);
}
.right3{
    position: relative;
    width:70%;
    float:right;
    top:20px;
    left:10px;
    height:100px;
    color:lemonchiffon;
}
.right4{
    position:relative;
    top:-280px;
    }
.column {
    float: left;
    position:relative;
    width: 26%;
    padding: 14px;
    font-family:宋体;
}
.b1{
    font-style:italic;
    font-size:72px;
    font-weight:bold;
    top:40px;
    font-family:黑体;
    }
.hang{
    font-size:16px;
    font-family:宋体;
    color:mediumaquamarine;
}
.bt1{
    position:relative;
    font-size:70px;
    top:0px;
}
.hx1{
    position:absolute;
    width:975px;
    bottom:50px;
    border-bottom-style: double;
    }      
.zt1{
    font-size:14px;
    font-family:宋体;
    color:rgb(51, 66, 80);
}
footer{
    position:relative;
    top: 630px; 
}v