.xia11 {
    width: 1198px;
    height: 68px;
    /* background-color: rgb(156, 236, 27); */
    position: relative;
    text-align: center;
    display: flex;
    margin-left: 175.6px;
    margin-right: 160.6px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.xia {
    width: 1198px;
    height: 68px;
    /* background-color: rgb(156, 236, 27); */
    /* margin-left: 175.6px;
    margin-right: 160.6px;
    padding-top: 20px;
    padding-bottom: 20px; */
    position: relative;
    /* top: 175px; */
    text-align: center;
}

.zuo {
    height: 68px;
    width: 200px;
    position: relative;
    top: -10px;
}

#shouye {
    color: #fff;
    width: 1.3em;
    height: 1.2em;
}

.zuo span {
    height: 28px;
    width: 15.72px;
    list-style-type: none;
    color: black;
}

.zuo div {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    line-height: 36px;
    margin-right: 6px;
}

.round1 {
    background: #ff5c7c;
}

.round2 {
    list-style: none;
    border-radius: 50%;
    overflow: hidden;
    width: 36px;
    height: 36px;
}

.round3 {
    background: #fc9d22;
}

.round4 {
    background: #068110;
}

.u1 {
    width: 36px;
    height: 36px;
    display: flex;
    padding: 0;
}

.u1 li {
    width: 48px;
    height: 66px;
    border: 1px;
}

.b span:hover {
    color: #00a1d6;
    text-decoration: none;
}

.xian1 {
    margin: 0 8px;
    background-color: #73c9e5;
    height: 46px;
    width: 0px;
    position: relative;
    top: -70px;
    left: 200px;
}

.zhong1 {
    display: flex;
    width: 748px;
    height: 68px;
    position: relative;
    top: -130px;
    left: 220px;
}

em {
    font-style: normal;
    font-size: 12px;
    display: inline-block;
    background: #73c9e5;
    border-radius: 2px;
    color: #fff;
    margin-left: 1px;
    transform: scale(.85);
    width: 32px;
    height: 13.6px;
    text-align: center;
}

.item {
    width: 91.75px;
    height: 34px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 34px;
}

.name {
    font-size: 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #212121;
}

.name:hover {
    color: #00a1d6;
    text-decoration: none;
}

.zhong2 {
    display: flex;
    width: 748px;
    height: 68px;
    position: relative;
    top: -160px;
    left: 220px;
}

.xian {
    margin: 0 8px;
    background-color: #73c9e5;
    height: 46px;
    width: 0px;
    position: relative;
    top: -30px;
    left: -15px;
}

.you span {
    font-size: 14px;
    color: #212121;
    width: 28px;
    height: 19.2px;
    margin-left: 4px;
}

.you a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 57.2px;
    height: 34px;
}

.you {
    width: 220px;
    height: 68px;
}

.s {
    width: 57.2px;
    height: 34px;
}

.s span:hover {
    color: #00a1d6;
    text-decoration: none;
}

.y1 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    top: -270px;
    right: -970px;
}

.y2 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    top: -270px;
    right: -970px;
}