.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

a {
    text-decoration: none;
    display: block;
    color: #fff;
}

.body {
    margin: 0;
    padding: 0;
    color: #505050;
    font: 12px -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

.a {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    min-height: 155px;
    height: 9.375vw;
    min-width: 999px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    background-image: url(./图片/bl1.jpg);
}

.a10 {
    border-radius: 50%;
    overflow: hidden;
    width: 36px;
    height: 36px;
    position: relative;
    margin-right: 10px;
    top: 10px;
}

ul {
    width: 100%;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.text-left {
    height: 36px;
    display: flex;
    align-items: center;
}

li {
    margin-right: 12px;
}

.left {
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
    line-height: 32px;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    margin-right: 12px;
    position: absolute;
    left: 0;
}

.tu1 img {
    height: 78px;
    width: 162px;
    vertical-align: middle;
    border-style: none;
    position: absolute;
    left: 150px;
    top: 70px;
}

.input {
    overflow: hidden;
    width: 444px;
    height: 38px;
    border: none;
    background-color: white;
    box-shadow: none;
    color: #999;
    font-size: 14px;
    line-height: 34px;
    transition: all .2s;
}

.button {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #505050;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: all .2s;
}

.search {
    position: absolute;
    top: 10px;
    left: 470px;
}

.a10 {
    position: absolute;
    top: 15px;
    left: 1000px;
}

.a11 {
    height: 36px;
    display: flex;
    align-items: center;
}

.a9 {
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
    line-height: 32px;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    margin-right: 12px;
    position: absolute;
    right: 50px;
}

.an {
    color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    display: block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #fb7299;
    border-radius: 2px;
    margin-left: 14px;
}

.tougao {
    margin-left: 9px;
}