.kuang1 {
    width: 1198px;
    height: 244px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
    left: 175px;
    margin-bottom: 40px;
}

.z1 {
    width: 854px;
    height: 244px;
}

.tou {
    margin-bottom: 16px;
    height: 36px;
    width: 854px;
}

.z11 {
    width: 398.013px;
    height: 37.6px;
    display: inline-flex;
}

.z11 span {
    margin: 0 20px 0 0;
    vertical-align: bottom;
    font-size: 20px;
    line-height: 36px;
    color: #212121;
    cursor: default;
}

.bao {
    width: 296.013px;
    height: 37.6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.bao a:hover {
    color: #00a1d6;
    text-decoration: none;
}

.z11 a {
    font-size: 12px;
    color: #505050;
    margin-right: 10px;
    text-decoration: none;
}

.hz1 {
    width: 854px;
    height: 192px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hehe {
    width: 206px;
    height: 192px;
    margin: 0;
    display: flex;
    flex-direction: column
}

.hetu,
.hetu img {
    width: 206px;
    height: 116px;
}

.wenzi {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 20px;
    height: 40px;
    font-weight: 500;
    padding-right: 12px;
}

.wenzi1 span:hover {
    color: #00a1d6;
    text-decoration: none;
}

.qianwz {
    font-size: 12px;
    border-radius: 2px;
    margin-right: 8px;
    width: 30px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #b2b2b2;
    color: #b2b2b2;
    font-weight: 400;
}

.houwz {
    width: 206px;
    height: 16px;
    display: flex;
    align-items: center;
}

.houwz a {
    font-size: 12px;
    color: #999;
    line-height: 16px;
    text-indent: 2em;
}

.z2 {
    width: 320px;
    height: 244px;
}

.z2shang {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 19px;
    height: 30px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    background: #f4f4f4;
    color: #505050;
    line-height: 30px;
}

.z2shang a {
    color: #505050;
}

.z2shang a:hover {
    color: #00a1d6;
    text-decoration: none;
}

.z2tu {
    width: 100%;
    border-radius: 2px;
    vertical-align: middle;
    border-style: none;
}