body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.top .row .left {
  float: left;
}
.top .row .left .nav li .one_a {
  font-weight: 500;
  color: #563d7c;
  font-size: 18px;
}
.top .row .left .nav li .one_a:hover {
  background-color: #fff;
}
.top .row .left .nav li a {
  padding: 15px 10px;
  line-height: 20px;
  border-radius: 0%;
  font-weight: 500;
  color: #563d7c;
}
.top .row .left .nav li a:hover {
  color: #463265;
  background-color: #f9f9f9;
}
.top .row .right {
  float: right;
}
.top .row .right .nav li a {
  padding: 15px 10px;
  line-height: 20px;
  border-radius: 0%;
  font-weight: 500;
  color: #563d7c;
}
.top .row .right .nav li a:hover {
  color: #463265;
  background-color: #f9f9f9;
}
.top .row .right .nav .right_one .dropdown-menu {
  position: absolute;
  top: 40px;
  left: -100px;
}
.top .row .right .nav .right_one .right_one_a {
  line-height: 20px;
}
.top .row .right .nav .right_one .right_one_a span {
  font-size: 10px;
}
.top .row .xian {
  margin: 5px 15px;
  margin-left: 0px;
  padding: 9px 10px;
  float: right;
}
.top .row .xian a span {
  font-size: 14px;
}
.top .row .none_cont {
  display: none;
  padding-left: 0;
}
.top .row .none_cont li {
  width: 100%;
  list-style: none;
}
.top .row .none_cont li a {
  text-decoration: none;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #563d7c;
}
.top .row .none_cont li a:hover {
  color: #463265;
  background-color: #f9f9f9;
}
.jumbotron {
  padding: 80px 0;
  background-color: #5c4283;
}
.jumbotron .container .big_b {
  margin: 0 auto 30px;
  background-color: transparent;
  border: 1px solid #cdbfe3;
  width: 144px;
  height: 144px;
  font-size: 108px;
  line-height: 140px;
  display: block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: default;
  background-color: #5c4283;
  border-radius: 15%;
}
.jumbotron .container .lead {
  width: 80%;
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}
.jumbotron .container .lead .btn {
  padding: 15px 30px;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
  border-radius: 6px;
}
.jumbotron .container .text_one {
  margin: 0 auto 30px;
}
.jumbotron .container .text_two {
  margin: 0 auto;
  margin-bottom: 10px;
}
.jumbotron .container .downlond {
  margin: 0 auto 30px;
  font-size: 14px;
  color: #9783b9;
}
.content {
  padding-top: 100px;
  text-align: center;
}
.content hr {
  width: 100px;
  margin: 40px auto;
}
.content .row p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  text-align: center;
}
.content .btn-outline {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid #563d7c;
  color: #563d7c;
}
.content_two {
  text-align: center;
  margin-bottom: 100px;
  height: 410px;
}
.content_two .container .fen_one {
  margin: 100px auto;
}
.content_two .container h2 {
  font-size: 40px;
  margin-bottom: 5px;
}
.content_two .container p {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 20px;
}
.content_two .container .fen {
  width: 100px;
  margin: 40px auto;
}
.content_two .container .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid #563d7c;
  color: #563d7c;
}
.last {
  background-color: #2a2730;
  text-align: left;
  padding: 50px 0;
}
.last ul {
  padding-left: 0;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
}
.last ul li {
  margin-left: 18px;
  line-height: 1.42857143;
  height: 20px;
}
.last ul li a {
  color: #fff;
}
.last ul .one {
  margin-left: 0;
}
.last .lead {
  font-size: 14px;
  margin-bottom: 0;
  color: #99979c;
}
.last .lead a {
  color: #fff;
}
@media screen and (min-width: 750px) {
  .none_cont {
    display: none!important;
  }
  .jumbotron {
    padding: 30px 0;
  }
}
@media screen and (max-width: 750px) {
  .jumbotron {
    padding: 30px 0;
  }
  .jumbotron .lead {
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-bottom: 30rpx!important;
    color: #fff;
  }
  .text_one {
    font-size: 20px!important;
  }
  .jumbotron .text_two .btn {
    width: 100%;
  }
  .lead .downlond {
    font-size: 14px!important;
  }
  .content {
    padding: 0;
  }
  .fen_one {
    margin: 50px 0!important;
  }
  .content_two {
    margin-bottom: 140px!important;
  }
  .last {
    padding: 50px auto!important;
    text-align: center!important;
  }
  .last ul {
    justify-content: center;
    height: 20px;
    text-align: center!important;
    margin-bottom: 20px;
  }
}
