* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db4d6d;
}
.monster {
    width: 110px;
    height: 100px;
    border-radius: 10px;
    background-color: #db4d6d;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 12px rgba(0, 0, 0, .2);
    position: relative;
    animation: jumping .8s infinite alternate;
}
.monster::after,
.monster::before {
    content: "";
    width: 20%;
    height: 8px;
    position: absolute;
    top: -10px;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-70%) rotate(45deg);
    background-color: #fff;
}
.monster::before {
    transform: translateX(-30%) rotate(-45deg);

}
.monster .eye {
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monster .eye .eyeBall {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #424242;
    animation: eyemove .8s infinite alternate;
}
.monster .mouth {
    width: 32%;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 15px
}
.monster.greenyellow {
    background-color: greenyellow;
    animation-delay: .5s;
}
@keyframes jumping {
    0%,
    10% {
        top: 0;
        box-shadow: 0 10px 12px rgba(0, 0, 0, .2);
    }
    90%,
    100% {
        top: -10%;
        box-shadow: 0 120px 12px rgba(0, 0, 0, .1);

    }
}
@keyframes eyemove {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-50%);
    }
}