html, body {
    margin:  0;
  }
  
  /* 璁剧疆椤电湁閮ㄥ垎 */
  header {
    height: 180px;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  
  .view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* :nth-of-type(n) 閫夋嫨鍣ㄥ尮閰嶅睘浜庣埗鍏冪礌鐨勭壒瀹氱被鍨嬬殑绗?N 涓瓙鍏冪礌鐨勬瘡涓厓绱?閫夋嫨绗琻涓悓绾у厓绱?*/
  /*鏀瑰彉澶у皬*/
  .view:nth-of-type(1)> img {
    width: 5612px; /* 瀹藉害 */
    height: 209px; /* 楂樺害 */
    transform: scale(1) translate(0px, -17.4194px) rotate(0deg); /* 缂╂斁銆佸钩绉汇€佹棆杞?*/
    opacity: 1;
  }
  
  .view:nth-of-type(2)> img {
    width: 5612px;
    height: 209px;
    transform: scale(1) translate(1277.42px, 0px) rotate(0deg);
    opacity: 1;
  }
  
  .view:nth-of-type(3)> img {
    width: 1841px;
    height: 188px;
    transform: scale(1) translate(783.871px, 0px) rotate(0deg);
    opacity: 1;
  }
  
  .view:nth-of-type(4)> img {
    width: 1671px;
    height: 204px;
    transform: scale(1) translate(-739.742px, 0px) rotate(0deg);
    opacity: 1;
  }
  
  .view:nth-of-type(5)> img {
    width: 290px;
    height: 72px;
    transform: scale(1) translate(705.484px, 52.2581px) rotate(0deg);
    opacity: 1;
  }
  
  .view:nth-of-type(6)> img {
    width: 238px;
    height: 98px;
    transform: scale(1) translate(292.645px, 42.271px) rotate(0deg);
    opacity: 0;
  }
  
  .view:nth-of-type(7)> img {
    width: 1428px;
    height: 146px;
    transform: scale(1) translate(130.065px, 16.2581px) rotate(0deg);
    opacity: 1;
  }
  
  .view:nth-of-type(8)> img {
    width: 1428px;
    height: 94px;
    transform: scale(1) translate(-406.452px, 56.9032px) rotate(0deg);
    opacity: 1;
  }
  
  .view:nth-of-type(9)> img {
    width: 230px;
    height: 160px;
    transform: scale(1) translate(-278.71px, 18.5806px) rotate(0deg);
    opacity: 0;
  }
  
  .view:nth-of-type(10)> img {
    width: 67px;
    height: 118px;
    transform: scale(1) translate(-394.839px, 37.1613px) rotate(0deg);
    opacity: 0;
  }
  
  .view:nth-of-type(11)> img {
    width: 314px;
    height: 132px;
    transform: scale(1) translate(-104.516px, 15.6774px) rotate(0deg);
    opacity: 1;
  }
  
  .view:nth-of-type(12)> img {
    width: 2483px;
    height: 209px;
    transform: scale(1) translate(116.129px, 0px) rotate(0deg);
    opacity: 1;
  }
  
  .view:nth-of-type(13)> img {
    width: 487px;
    height: 170px;
    transform: scale(1) translate(250.839px, 15.6774px) rotate(0deg);
    opacity: 1;
  }
  
  .view:nth-of-type(14)> img {
    width: 515px;
    height: 245px;
    transform: scale(1) translate(2438.71px, 0px) rotate(0deg);
    filter: blur(2px);
    opacity: 1;
  }
  
  .view:nth-of-type(15)> img {
    width: 1112px;
    height: 209px;
    transform: scale(1) translate(-1161.29px, 0px) rotate(0deg);
    filter: blur(1px);
    opacity: 1;
  }
  
  /* canvas 鐢诲竷 */
  #canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
.sec1{
    height:155px;
    width:1263px;
}
.nav1{
    height:56px;
    width:1263px;
}
.nav-link-ul{
    height:36px;
    display:flex;
    list-style:none;
}
.nav-link-u2{
    height:36px;
    display:flex;
    list-style:none;
 }
.sec2{
    position:relative;
    top:20px;
    width:1263px;
    height:108px;
    left:-10px;
}
.sec2-link-u1{
    position:absolute;
    height:36px;
    display:flex;
    list-style:none;
    top:40px;
    width:20%;
    margin:0 200px; 
}
 .sec2-link-u2{
    position:absolute;
    width:40%;
    margin:0 400px;
}
#sec2-link-u1-t{
    position:absolute;
    height:30px;
    width:30px;
}
.sec2-link-u2-top{
    height:36px;
    display:flex;
    list-style:none;
}
.sec2-link-u2-bottom{
    position:absolute;
    height:36px;
    display:flex;
    list-style:none;
    top:20px;
}
.sec2-link-u3{
    position:absolute;
    width:30%;
    left:900px;
 }
.sec2-link-u3-top{
    position:absolute;
    height:36px;
    display:flex;
    list-style:none;
 }
.sec2-link-u3-bottom{
    position:absolute;
    height:36px;
    display:flex;
    list-style:none;
    top:20px;
 }
.part11{
    margin:5px;
 }
.part111{
    position:absolute;
 }
#sec2-link-u1-t{
    position:absolute;
    top:-30px;
 }
.part22{
    margin:10px;
 }
.sec3-link-u1{
    position:absolute;
    left:700px;
    top:10px;
 }
.sec3-link-u2-top{
    top:5px;
    position:absolute;
    height:36px;
    display:flex;
    list-style:none;
   
 }
.sec3-link-u2-bottom{
    top:110px;
    position:absolute;
    height:36px;
    display:flex;
    list-style:none;
}
 .sousuokuang{
    position:absolute;
    height:30px;
    width:259px;
 }
 .sousuozi{
    position:absolute;
    left:263px;
    height:36px;
    width:48px;
 }
 .sousuozi:after{
    background:url("img/u=3734167052\,4167274666&fm=26&gp=0.jpg");
    height:17.5px;
    width:16px;
    position:absolute;
 }
 .left1{
    position:absolute;
    top:0px;

 }
.right1{
    position:absolute;
    top:0px;
    left:800px;
 }	
.center{
    position:absolute;
    left:520px;
    top:15px;
    height:36px;
    width:307px;
 }
.sec3-link-u1{
    position:absolute;
    list-style:none;
}
#part1:link {
    color:white; 
    text-decoration: none;
}
#part1:visited {
    color:rgb(239, 243, 242); 
    text-decoration: none;
}
#part1:hover{
    text-decoration:none;
}
#part2:link {
    color:white; 
    text-decoration: none;
}
#part2:visited {
    color:black; 
    text-decoration: none;
}
#part2:hover{
    color:rgb(109, 137, 192);
    text-decoration:none;
}
.list{
    position:relative;
    width:459px;
    height:202px;
    list-style:none;
    padding-left:0px;
}
.item{
    position:absolute;
    width:100%;
    height:100%;
    color:white;
    font-size:50px;
    opacity:0;
    transition:all .8s;
}
.wrap{
    width:459px;
    height:202px;
    position:absolute;
}
.btn{
    width:20px;
    height:40px;
    position:absolute;
    top:90px;
    z-index:100;
}
#goPre{
    left:0px;
}
#goNext{
    right:0px;
}
.img{
    position:absolute;
    width:459px;
    height:202px;
}
.item.active{
    opacity:1;
    z-index:10;
}
.pointList{
    padding-left:0px;
    list-style:none;
    position:absolute;
    right:20px;
    bottom:-20px;
    z-index:1000;
}
.point{
    width:8px;
    height:8px;
    background-color:rgb(9, 10, 10);
    border-radius:100%;
    float:left;
    margin-right:14px;
    border-style:solid;
    border-width:2px;
    border-color:#e7e7e39f;
    cursor:pointer;
}
.point.active{
    background-color:rgb(238, 224, 224);
}
.sec3{
    position:relative;
    padding:0 200px; 
}
.sec3-link-u2{
    list-style:none;
    display:flex;
}
.sec4{
    position:relative;
    margin:240px 200px;
}
.week{
    width:100px;
    height:40px;
    background-color:bisque;
    border:1px solid rgb(202, 183, 160);
    float:left;
    line-height:40px;
    text-align:center;
}
.list1{
    overflow:hidden;
    list-style:none;
}
.zhou{
    left:40px;
    width:800px;
    height:400px;
    display:none;
    position:absolute;
    top:60px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.caidan{
    position:absolute;
    user-select: none;
    width:80px;
    top:2px;
  
}
.caidan label{
    color:black;
    font-size:16px;
    font-weight:500;
    display: block;
    cursor:pointer;
}
.button span{
    line-height:40px;
    transition:0.5s;
    color:black;
}
.button span.rotate{
    transform: rotate(-180deg);  
}
.caidan ul{
position: absolute;
background:  #f4f8ef;
list-style: none;
left: 0;
width: 100%;
border-radius: 5px;
display: none;
z-index:100;
}
[id^=btn]:checked + ul{
    display: block;
    }       
.caidan .menu:before{
position: absolute;
content: '';
height: 20px;
width:20px;
background: #f4f8ef;
right: 20px;
top: -10px;
transform: rotate(45deg);
z-index: -1;
}
.caidan ul li{
line-height:30px;
}
.kuang{
display:none;
}
.caidan ul li a:link,
.caidan ul li label:link{
color:white; 
text-decoration: none;
}
.caidan ul li a:visited,
.caidan ul li label:visited{
color:black; 
text-decoration: none;
}
.caidan ul li a:hover,
.caidan ul li label:hover{
color:rgb(109, 137, 192);
}

