body{
    min-width: 1200px;
}
a:hover{
    color: rgb(58,161,215);
}
.top a:hover{
    color: white;
}
.comtain{
    position: relative;
}
.top .left{
    position: absolute;
    top: 0;
    padding-left: 20px;
}
.top li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 12px;
    font-size: 14px;
    color: white;
    line-height: 32px;
}
.top .search{
    position: absolute;
    top: 0;
    width: 400px;
    left: 100px;
    right: 0;
    margin: 10px auto;
}
.top .search .gets{
    padding: 0 20px 0 10px;
    border: 1px solid hsla(0,0%,100%,0);
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
    height: 36px;
    width: 290px;
    box-sizing: border-box;
    line-height: 30px;
}
.top .search .gets:focus{
    outline: none;
}
.top .search .enter{
    position: absolute;
    left: 285px;
    width: 48px;
    height: 36px;
    border: none;
    border-radius: 2px;
    background: #e7e7e7;
    line-height: 26px;
    cursor: pointer;
}
.top .search .enter:focus{
    outline: none;
}
.top .right{
    position: absolute;
    top: 0;
    right: 0;
}
.top .right .more{
    display: inline-block;
    margin-right: 12px;
    margin-top: 10px;
    font-size: 14px;
    color: white;
    line-height: 32px;
}
.mid{
    width: 1161px;
    margin: auto;
}
.mid .t1{
    height: 68px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}
.mid .t1 .class .c{
    display: inline-block;
    width: 45px;
}
.mid .t1 .class .c img{
    margin-bottom: 4px;
    margin: 0 6px 4px 6px;
}
.mid .t1 .all .a{
    display: inline-block;
    width: 90px;
    height: 30px;
}
.mid .t1 .all .num{
    font-style: normal;
    font-size: 12px;
    display: inline-block;
    background: #73c9e5;
    border-radius: 2px;
    color: #fff;
    margin-left: 1px;
    transform: scale(.85);
    width: 32px;
    text-align: center;
}
.mid .t1 .more .m{
    display: inline-block;
    height: 30px;
    width: 50px;
}
.mid .t2 .for{
    display: block;
    width: 560px;
    height: 240px;
    background-color: yellowgreen;
}
.mid .t2 .v1{
    position: absolute;
    right: 0;
    top: 0;
}
.mid .t2 .v2{
    position: absolute;
    right: 0;
    bottom: 0;
}
.mid .t2 .v{
    margin-left: 5px;
    display: inline-block;
    width: 190px;
    height: 115px;
    background-color: yellowgreen;
}
/* .mid .t2 .change{
    position: absolute;
    right: -30px;
    top: 0;
    width: 25px;
    height: 60px;
    background-color: yellowgreen;
} */
.mid .t3{
    margin-top: 40px;
}
.mid .t3 .top{
    margin-bottom: 20px;
}
.mid .t3 .v{
    margin-right: 5px;
    display: inline-block;
    width: 200px;
    height: 120px;
    background-color: yellowgreen;
}
.mid .t3 .img{
    position: absolute;
    right: 0;
    top: 35px;
    width: 310px;
    height: 200px;
    background-color: yellowgreen;
}
.mid .t4{
    display: block;
    width: 100%;
    height: 100px;
    background-color: yellowgreen;
    margin-top: 130px;
}
.mid .fix{
    position: fixed;
    top: 200px;
    margin-left: 590px;
    left: calc(50% + 3px);
    width: 54px;
    height: 515px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
}
.mid .fix .f{
    display: block;
    width: 54px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #505050;
    font: 12px -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}
.mid .fix .f1{
    margin-top: 20px;
}
.mid .fix .f20{
    border-top: 1px solid #c2bebe;
    padding-top: 5px;
}
.mid .fix .f:hover{
    background-color: #00a1d6;
    color: #fff;
}
.mid .comtainer .c{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.mid .comtainer .c .name{
    position: absolute;
    top: -40px;
}
.mid .comtainer .c .left{
    position: absolute;
    left: 0;
    width: 830px;
    height: 400px;
    background-color: yellowgreen;
}
.mid .comtainer .c .right{
    position: absolute;
    right: 0;
    width: 310px;
    height: 400px;
    background-color: yellowgreen;
}
.bottom .img{
    display: inline-block;
    width: 50px;
    height: 68px;
    background-color: red;
}